<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Sitecore.QuartzScheduler.TriggerStatisticsStoreProvider" value="Sitecore.QuartzScheduler.Providers.CacheTriggerStatisticsStore, Sitecore.QuartzScheduler"/>
      <setting name="Sitecore.QuartzScheduler.JobLocation" value="Sitecore/system/Modules/QuartzScheduler/Site Jobs" />
    </settings>
    <!-- JobStatisticsStoreProvier class should implement IJobStatisticsStore -->

    <events>
      <event name="item:saved">
        <handler type="Sitecore.QuartzScheduler.EventHandlers.ItemChanged, Sitecore.QuartzScheduler" method="OnItemChanged"/>
      </event>
      <event name="item:deleted">
        <handler type="Sitecore.QuartzScheduler.EventHandlers.ItemChanged, Sitecore.QuartzScheduler" method="OnItemChanged"/>
      </event>
    </events>
    <pipelines>
      <initialize>
        <processor type="Sitecore.QuartzScheduler.Pipelines.Initialize, Sitecore.QuartzScheduler" />
      </initialize>
    </pipelines>
  </sitecore>
  
</configuration>
